/* style.css
 * This file provides css styles.
 */

/*
body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}
*/



* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Segoe UI", "Segoe", "Calibri", "Roboto", "Droid Sans", Arial, sans-serif;
}

#navigationBar {
    height: 100px;
    width: 100%;
    position: fixed;
    background: rgba(255,255,255,.99);
    z-index: 30;
    -webkit-box-shadow:0 0 30px rgba(55,55,55,.3);
    padding-left: 50px;
}

#navigationBar .navigationItem {
	height: 80px;
	line-height: 80px;
	float: left;
	vertical-align: middle;
	padding-left: 10px;
	padding-top: 10px;
}

#navigationBar .navigationItem img {
    height: 100%;
}

h1#navigationTitle {
    color: #555555;
    font-size: 35px;
    font-weight: 2000;
}

h1#navigationTitle::first-letter {
    font-size: 50px;
    font-weight: 600;
    color:#249dc5;
}

.backgroundImage {
    height: 750px;
    width: 100%;
    background: white;
    z-index: 10;
}

#bg1 {
	padding-top: 350px;
	height: 750px;
    width: 100%;
    z-index: 10;
    background: url(../images/backgroundBlue.jpg) repeat;
    background-attachment: fixed;
    /*opacity: 0.8;*/
    text-align: center;
}

#bg2, #bg3, #bg4 {
    background: url(../images/backgroundBlue.jpg) repeat;
    background-attachment: fixed;
    /*opacity: 0.8;*/
}

.centerBlock {
	border-radius: 0px;
	border: 5px solid #134e5f;
    width: 250px;
    padding: 15px;
    background: white;
    z-index: 20;
    margin: 0 auto;
}

.centerBlock h2 {
    color: #555555;
    font-weight: 800;
    font-size: 1rem;
	line-height: 1.45em;
    text-align: center;
	text-transform: uppercase;
}

.section {
    width:100%;
    background: white;
    z-index: 20;
}

.section h2 {
	text-align: center;
    font-size: 30px;
    color: #555555;
    margin: 40px 60px;
}

.section p {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    margin: 40px 60px;
}

