/* style.css
 * This file provides css styles.
 */

/*
body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 1.2em;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}
*/



* {
    margin: 0;
    padding: 0;
}
.image {
    height: 750px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
    }

.content {
    height: 750px;
    width:100%;
    background: white;
    z-index: 2;
}
.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}
.content p {
    font-size:20px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}
#wall_1 {
    background: url(../Images/swirl_pattern.png) repeat;
    background-attachment: fixed;
}
#wall_2 {
    background: url(../Images/school.png) repeat;
    background-attachment: fixed;
}
#wall_3 {
    background: url(../Images/skulls.png) repeat;
    background-attachment: fixed;
}



#nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(255,255,255,1);
    z-index: 100;
    -webkit-box-shadow:0 0 20px rgba(44,44,44,.3);
}
#nav #logo {
    height: 40px;
    width: 170px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 100px;
}

#nav #logo img {
    height: 100%;
    width: 100%;
    
}

#content_1 {position: relative;}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#3cb0f8;
}
